# APP
APP_NAME="Klinik Ku"
PORT="3030"
NODE_ENV="development" # "development" || "production"
PREFIX_NAME="api"

 # Postgres
# POSTGRES_HOST="klinik-ku-postgres"  # or the service name if using Docker Compose
# POSTGRES_HOST="173.249.59.138"  # server
POSTGRES_HOST="localhost"  # or the service name if using Docker Compose
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="mypassword"
POSTGRES_DB="KlinikKu"
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public&pgbouncer=true"

# JWT
JWT_EXPIRATION="1h"

# Other Service
